<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmezz">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmEzz">
        <activity
            android:name=".ActiveOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".NewOrderRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".PastOrderRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".RetailerActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRdisplayActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".FarmerStartPageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".QRScannerTest"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
    </application>

</manifest>